<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Комната {{ room_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>

    <div class="container">
        <h2>Вы в комнате: <code>{{ room_id }}</code></h2>

        <div id="video-container">
            <video id="localVideo" autoplay muted playsinline></video>
            <video id="remoteVideo" autoplay playsinline></video>
        </div>

        <div class="controls">
            <button id="toggleMic" class="control-btn active" title="Микрофон"><i class="fas fa-microphone"></i></button>
            <button id="toggleCam" class="control-btn active" title="Камера"><i class="fas fa-video"></i></button>
            <button onclick="window.location.href='/'" class="exit-btn" title="Выйти"><i class="fas fa-sign-out-alt"></i></button>
        </div>

    </div>

    <script>
        const roomId = "{{ room_id }}";
    </script>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='room.js') }}"></script>

</body>
</html>
